body{
  margin: 0;
  padding:0; 
  /* background: url('./assets/5.png'); */
  background-color:#1F2833;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background:cover ;
  -moz-background:cover;
  -o-background:cover ;
}
